<div id='welcome'>
  <section id='title'>
    Nineteen White<br>
    Rabbit Feet
  </section>

  <section id='nav'>
    <%= link_to "About", "" %>
    <%= link_to "Art", "" %>
    <%= link_to "Words", "" %>
    <%= link_to "Tumblr", "http://donnyrabbit.tumblr.com/" %>
    <%= link_to "Shop", "" %>
  </section>

  <section id='tumblr-iframe'>
    <iframe src="http://donnyrabbit.tumblr.com/"></iframe>
  </section>
</div>
